// Colors
$color-synthwavesunsetpink: #eb21f8;
$color-synthwavesunsetred: #f82872;
$color-synthwavesunsetorange: #f88d1e;
$color-synthwavesunsetyellow: #f8ce18;
$color-synthwavedarkblue: #045ee2;
$color-synthwaveblue: #4285f4;
$color-synthwavered: #f80296;
$color-synthwavepurple: #9603e2;
$color-synthwaveteal: #02ebf8;
$color-main: $color-synthwavedarkblue;
$color-body: #20202f;
$color-headings: #20202f;

// Font settings
$font-base: 'Sofia Pro', 'Helvetica Neue', Helvetica, sans-serif;
$font-alt: 'Futura PT', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Sofia Pro', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font sizes and line heights
$font-min-size: 18px; // Minimum font size, on mobile
$font-max-size: 21px; // Maximum font size, on desktop
$font-base-line-height: 1.4; // Line height for paragraphs
$headings-weight: 800; // Default title weight. Usually 700 or 900 works pretty well

// Breakpoints
$grid-base: 960px;
$container-tv: 1824px;
$container-large: 1224px;
$container-desktop: 960px;
$container-ipad: 768px;
$container-mobile: 480px;
