.main-menu {
  display: block;
  margin-top: 4rem;
  text-align: center;
}

.main-menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-menu ul li a {
  color: $color-body;
  display: block;
  font-family: $font-alt;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: .5;
  padding: 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 50ms;
  z-index: 2;

  svg {
    position: relative;
    top: 3px;

    @media (min-width: 840px) {
      left: -10px;
    }
  }

  @media (max-width: 840px) {
    padding: 2rem 1rem;

    span {
      display: none;
    }

    svg {
      height: 3.2rem;
      width: 3.2rem;
    }
  }

  @media (max-width: 840px) {
    svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &:hover,
  &.active,
  &:focus {
    opacity: 1;
  }
}

.main-menu ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;

  a.about {
    display: none !important;
  }

  &:nth-child(1) svg {
    top: 2px;
  }

  &:nth-child(1) a:hover,
  &:nth-child(1) a:focus {
    color: $color-synthwavesunsetred;
  }

  &:nth-child(2) a:hover,
  &:nth-child(2) a:focus {
    color: $color-synthwavesunsetorange;
  }

  &:nth-child(3) a:hover,
  &:nth-child(3) a:focus {
    color: $color-synthwavesunsetpink;
  }

  &:nth-child(4) a:hover,
  &:nth-child(4) a:focus {
    color: $color-synthwaveblue;
  }

  &:nth-child(5) a:hover,
  &:nth-child(5) a:focus {
    color: $color-synthwaveteal;
  }
}

// Nav active links
.home .home,
.blog .blog,
.wordpress .wordpress,
.projects .projects,
.contact .contact,
.now .now {
  opacity: 1;
}
