/* stylelint-disable a11y/no-display-none */
.main-menu {
  display: block;
  text-align: center;

  @media (min-width: $width-max-mobile) {
    margin-top: 4rem;
  }
}

.main-menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.main-menu ul li a {
  color: $color-body;
  display: block;
  font-family: $font-alt;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: space-between;
  opacity: .5;
  padding: 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform .2s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  z-index: 2;

  svg {
    margin-right: .6rem;
    position: relative;
    top: 3px;
    width: 16px;
  }

  @media (max-width: 840px) {
    padding: 2rem 1rem;

    span {
      display: none;
    }

    svg {
      height: 3.2rem;
      width: 3.2rem;
    }
  }

  @media (max-width: $width-max-mobile) {
    svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
    transform: scale(1.1);
  }
}

.main-menu ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;

  // Nav active links
  &.current-menu-item a {
    opacity: 1;
  }

  &:nth-child(1) svg {
    top: 2px;
  }

  &:nth-child(1) a:hover,
  &:nth-child(1) a:focus {
    color: $color-synthwavesunsetred;
  }

  &:nth-child(2) a:hover,
  &:nth-child(2) a:focus {
    color: $color-synthwavesunsetorange;
  }

  &:nth-child(4) a:hover,
  &:nth-child(4) a:focus {
    color: $color-synthwaveblue;
  }

  &:nth-child(5) a:hover,
  &:nth-child(5) a:focus {
    color: $color-synthwaveteal;
  }

  &:nth-child(6) a:hover,
  &:nth-child(6) a:focus {
    color: $color-synthwavesunsetpink;
  }

  &.menu-item-29 a:hover,
  &.menu-item-29 a:focus {
    color: $color-wordpress;
  }
}
