// Ingress style
.gutenberg-content p.is-style-ingress,
.wp-block.is-style-ingress,
.is-style-ingress {
  font-family: $font-headings-blog;
  font-size: var(--font-size-blog-supplementary-heading);
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.5;
  opacity: .8;
}
