// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.

/* stylelint-disable property-disallowed-list, sh-waqar/declaration-use-variable, a11y/no-outline-none, a11y/no-display-none, no-descending-specificity */
// Default structural element
.block {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: $width-max-layout;
  position: relative;
}

body {
  background-color: var(--color-white);
}

// Rolle.wtf specific
.block-has-space {
  padding-bottom: var(--padding-block);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-block);
}

/* stylelint-disable declaration-no-important */
.block-no-triggers {
  background-image: none !important;
  opacity: 1 !important;
}

// Default shade on top of blocks
.shade {
  background-color: var(--color-main);
  height: 100%;
  left: 0;
  opacity: .35;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

// Global link helper
// This is useful in services -type of areas where the whole block is a link
// Remember to define aria-label or screen-reader-text for accessibility
.global-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

// Site wrapper
.site {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

// Containers
.container {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-grid-base;
  padding-bottom: var(--padding-container-vertical);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-container-vertical);
}

// Clear block containers by default
.site-main .container {
  clear: both;
  overflow: hidden;
}

// Meta actions
.entry-footer {
  clear: both;
  display: flex;
  justify-content: space-between;
  margin-top: var(--padding-block);
  overflow: hidden;
}

// Better edit link
.edit-link {
  color: var(--color-edit-link);
  overflow: visible;
  padding-bottom: 6rem;
  padding-top: 6rem;
  text-align: center;

  .post-edit-link {
    color: var(--color-edit-link);
    transition: color .33s cubic-bezier(.19, 1, .22, 1), color .2s cubic-bezier(.19, 1, .22, 1);
  }

  .post-edit-link:hover,
  .post-edit-link:focus {
    color: var(--color-fuchsia);
  }
}

.pushable {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  outline-offset: 4px;
  padding: 0;
  position: relative;
  transition: filter 250ms;

  a {
    align-items: center;
    color: var(--color-white);
    display: inline-flex;
    font-family: $font-accent;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;

    span {
      display: none;
    }
  }

  a:hover,
  a:focus {
    color: var(--color-white);
  }
}

.shadow {
  background: var(--color-light-grey-alt);
  border-radius: 12px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  width: 100%;
  will-change: transform;
}

.edge {
  background: linear-gradient(to left, hsl(340deg, 100%, 16%) 0%, hsl(340deg, 100%, 32%) 8%, hsl(340deg, 100%, 32%) 92%, hsl(340deg, 100%, 16%) 100%);
  border-radius: 12px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.front {
  background: hsl(345deg, 100%, 47%);
  border-radius: 12px;
  color: var(--color-white);
  display: block;
  font-size: 1.25rem;
  padding: 12px 42px;
  position: relative;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  will-change: transform;
}

.pushable:hover,
.pushable:focus {
  filter: brightness(110%);
}

.pushable:hover .front,
.pushable:focus .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow,
.pushable:focus .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

// General blog stuff
.block-blog-post-list {
  .listing {
    margin-bottom: 6rem;

    h3 {
      font-weight: 600;
      margin-bottom: 1.7rem;
      opacity: .8;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    @include responsive-font(42px, 62px);
    font-family: $font-accent;
    font-weight: 700;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 2rem;
    padding: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li a {
    border-bottom: 2px solid rgba(var(--color-headings-rgb), .1);
    font-weight: 500;
    padding-bottom: .2rem;
    padding-top: .2rem;
    transition: border-color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  li a:hover,
  li a:focus {
    border-color: var(--color-synthwavesunsetred);
  }

  .date {
    font-size: var(--font-size-tiny);
    margin-left: .5rem;
  }
}

.auth {
  margin: 0;
  order: 1;

  a {
    display: inline-flex;
    font-size: var(--font-size-tiny);
    font-weight: 600;
    text-decoration: none;
    transition: color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);

    &:hover,
    &:focus {
      color: var(--color-synthwavesunsetred);
    }

    &:hover img,
    &:focus img {
      border-color: var(--color-synthwavesunsetred);
    }
  }

  a::after {
    display: none;
  }

  .gravatar-small {
    border: 2px solid var(--color-black);
    border-radius: 50%;
    height: 22px;
    margin-right: 1rem;
    overflow: hidden;
    transition: border-color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
    width: 22px;
  }
}

.date-single {
  font-size: var(--font-size-small);
  opacity: .7;
  order: 2;
}

.comment-on-twitter {
  line-height: 1;
}

.comment-on-mastodon a,
.comment-on-twitter a {
  align-items: baseline;
  color: var(--color-twitter);
  display: inline-flex;
  font-family: $font-accent;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8rem;
  margin-top: 8rem;
  text-decoration: none;
}

.comment-on-twitter a {
  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    color: lighten($color-twitter, 15%);

    svg {
      stroke: lighten($color-twitter, 15%);
    }
  }

  svg {
    height: 5rem;
    margin-left: 2rem;
    position: relative;
    stroke: $color-twitter;
    stroke-width: 2px;
    top: 1rem;
    width: 5rem;

    @media (max-width: $container-ipad) {
      height: 3rem;
      width: 3rem;
    }
  }

  @media (max-width: $container-ipad) {
    font-size: 2.4rem;
  }
}

.comment-on-mastodon > a {
  color: var(--color-mastodon);

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--color-mastodon-lighten);
  }

  svg {
    height: 5rem;
    margin-left: 2rem;
    position: relative;
    top: 1rem;
    width: 5rem;

    @media (max-width: $container-ipad) {
      height: 3rem;
      width: 3rem;
    }
  }

  @media (max-width: $container-ipad) {
    font-size: 2.4rem;
  }
}

.block-blog article > h2:first-child::before,
.gutenberg-content h1::before {
  background-color: #767676;
  content: '\020';
  display: block;
  height: 2px;
  margin: 1rem 0;
  width: 1em;
}

.block-single > .gutenberg-content > h1 {
  font-family: $font-headings-blog;
  font-size: var(--font-size-blog-main-heading);
  line-height: 1.2;
}

.block-blog article > h2 {
  font-family: $font-headings-blog;
  font-size: var(--font-size-blog-main-heading);
  letter-spacing: -.02em;
  line-height: 1.2;
  opacity: .8;

  a {
    color: var(--color-headings);
  }
}

.block-blog .container {
  max-width: $width-max-article;
  padding-bottom: var(--padding-block);
  padding-top: var(--padding-block);
}

svg.external-link-icon {
  bottom: 0;
}
