// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.

// Default structural element
.block {
  background-color: $color-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: $width-max-layout;
  position: relative;
}

// Rolle.wtf specific
.block-has-space {
  padding-bottom: var(--padding-block);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-block);
}

/* stylelint-disable declaration-no-important */
.block-no-triggers {
  background-image: none !important;
  opacity: 1 !important;
}

// Default shade on top of blocks
.shade {
  background-color: $color-main;
  height: 100%;
  left: 0;
  opacity: .35;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

// Global link helper
// This is useful in services -type of areas where the whole block is a link
// Remember to define aria-label or screen-reader-text for accessibility
.global-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

// Site wrapper
.site {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

// Containers
.container {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-grid-base;
  padding-bottom: var(--padding-container-vertical);
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-container-vertical);
}

// Clear block containers by default
.site-main .container {
  clear: both;
  overflow: hidden;
}

// Meta actions
.entry-footer {
  clear: both;
  display: flex;
  justify-content: space-between;
  margin-top: var(--padding-block);
  overflow: hidden;
}

// Better edit link
.edit-link {
  clear: both;
  display: block;
  margin-bottom: 0;
  margin-top: 2rem;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  text-align: left;
  transition: all $transition-duration;
  width: 100%;

  a {
    background-color: $color-background-edit-link;
    border: 2px solid rgba(#aaa, .2);
    clear: both;
    color: $color-edit-link;
    display: block;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    transition: all $transition-duration;
  }

  &:focus,
  a:hover {
    background-color: $color-background-hover-edit-link;
    color: $color-edit-link;
  }
}
