/* stylelint-disable sh-waqar/declaration-use-variable, a11y/no-display-none, selector-max-compound-selectors, declaration-no-important, csstools/value-no-unknown-custom-properties */
// WordPress blog & articles view
//
// The styles for most of the TinyMCE produced
// classes and WordPress Gutenberg editor formatting.

// Vars
$color-twitter: #1da1f2;

/* stylelint-disable no-descending-specificity */
.block-blog-post-list {
  .listing {
    margin-bottom: 6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    @include responsive-font(42px, 62px);
    font-family: $font-accent;
    font-weight: 700;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 1rem;
    padding: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li a {
    border-bottom: 2px solid rgba(var(--color-headings-rgb), .1);
    font-weight: 500;
    padding-bottom: .2rem;
    padding-top: .2rem;
    transition: border-color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  li a:hover,
  li a:focus {
    border-color: var(--color-synthwavesunsetred);
  }

  .date {
    font-size: var(--font-size-tiny);
    margin-left: .5rem;
  }
}

.auth {
  margin: 0;
  order: 1;

  a {
    display: inline-flex;
    font-size: var(--font-size-tiny);
    font-weight: 600;
    text-decoration: none;
    transition: color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);

    &:hover,
    &:focus {
      color: var(--color-synthwavesunsetred);
    }

    &:hover img,
    &:focus img {
      border-color: var(--color-synthwavesunsetred);
    }
  }

  a::after {
    display: none;
  }

  .gravatar-small {
    backface-visibility: hidden;
    border: 2px solid var(--color-black);
    border-radius: 50%;
    height: 22px;
    margin-right: 1rem;
    overflow: hidden;
    transition: border-color .55s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
    width: 22px;
  }
}

.date-single {
  font-size: var(--font-size-small);
  opacity: .7;
  order: 2;
}

.comment-on-twitter {
  line-height: 1;
}

.comment-on-twitter a {
  align-items: baseline;
  color: $color-twitter;
  display: inline-flex;
  font-family: $font-accent;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8rem;
  margin-top: 8rem;
  text-decoration: none;

  &::after {
    display: none;
  }

  @media (max-width: $container-ipad) {
    font-size: 2.4rem;
  }

  &:hover,
  &:focus {
    color: lighten($color-twitter, 15%);

    svg {
      stroke: lighten($color-twitter, 15%);
    }
  }

  svg {
    height: 5rem;
    margin-left: 2rem;
    position: relative;
    stroke: $color-twitter;
    stroke-width: 2px;
    top: 1rem;
    width: 5rem;

    @media (max-width: $container-ipad) {
      height: 3rem;
      width: 3rem;
    }
  }
}

.block-blog article > h2:first-child::before,
.gutenberg-content h1::before {
  background-color: #767676;
  content: '\020';
  display: block;
  height: 2px;
  margin: 1rem 0;
  width: 1em;
}

.block-blog article > h2 {
  @extend %h1;
  font-family: $font-headings-blog;
  letter-spacing: -.02em;
  line-height: 1.2;
  opacity: .8;

  a {
    color: var(--color-headings);
  }
}

.block-blog .container {
  max-width: $width-max-article;
  padding-bottom: var(--padding-block);
  padding-top: var(--padding-block);
}

.gutenberg-content {
  max-width: 100%;
  padding-bottom: var(--padding-block);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--padding-block);

  // Links within content
  p:not([class]) > a {
    border-bottom: 1px solid var(--color-fuchsia);
    color: var(--color-fuchsia);
    line-height: 1.2;
    text-decoration: none;
    transition: border-color .33s cubic-bezier(.19, 1, .22, 1), color .2s cubic-bezier(.19, 1, .22, 1);

    &::after {
      background-image: url('../../svg/external-link-fuchsia.svg');
    }

    &:focus {
      border-color: var(--color-black);
      color: var(--color-black);
      text-decoration: none;

      &::after {
        background-image: url('../../svg/external-link-black.svg');
      }
    }
  }

  // With exceptions for those that are already styled:
  .comments-link a,
  .tags a,
  .cat a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-headings-blog;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.2;

    &:first-child {
      margin-top: 0;
    }
  }

  .blocks-gallery-grid {
    display: grid;

    .blocks-gallery-item {
      width: 100%;
    }
  }

  // Loops to enumerate the classes for columns.
  @for $i from 2 through 9 {
    .columns-#{$i} .blocks-gallery-grid {
      grid-column-gap: 3rem;
      grid-template-columns: repeat($i, 1fr);
    }
  }

  // WordPress alignments
  .cat-links,
  .tags-links {
    display: block;
  }

  .alignleft {
    float: left;
    margin-right: 3rem;
  }

  .alignright {
    float: right;
    margin-left: 3rem;
  }

  .aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
  }

  del {
    color: var(--color-blockquotes);
    text-decoration: line-through;
  }

  p {
    color: var(--color-paragraphs);
    font-weight: 400;
    line-height: $line-height-blog;
  }

  // Lists
  li {
    @include responsive-font($font-size-min, $font-size-max-blog);

    @media (max-width: $container-mobile) {
      font-size: 15px;
    }
  }

  // Embeds
  embed,
  iframe,
  object,
  video {
    max-width: 100%;
  }

  // Title line-heights
  h1,
  h2,
  h3,
  h4,
  h5,
  .is-style-ingress {
    line-height: 1.22;
  }

  img {
    border-radius: 4px;
  }

  @media (max-width: $width-max-article + 40px) {
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 4rem);

    pre {
      margin-left: 2rem;
      width: calc(100% - 8rem);
    }

    ol,
    ul {
      padding-left: calc(2rem + 2.7rem);
    }

    ul.tags {
      padding-left: 0;
    }
  }

  figcaption,
  cite,
  small {
    border: 0;
    color: var(--color-captions);
    font-size: 15px;
    font-style: normal;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    max-width: $width-max-article;
    padding-bottom: 0;
    text-align: center;
    width: 100%;

    @media (max-width: $container-mobile) {
      margin-top: 2rem;
    }
  }

  &.wp-block-gallery {
    color: var(--color-white);
    overflow: hidden;

    figcaption {
      color: var(--color-white);
      font-size: var(--font-size-small);
      line-height: 1.55;
      margin-bottom: var(--margin-between-text-elements);
      padding: 0 2rem;
      width: 100%;

      @media (max-width: 600px) {
        padding: 0;
      }
    }

    img {
      margin-bottom: 0;
    }
  }

  .wp-block-image figcaption,
  .wp-block-image .alignright > figcaption,
  .wp-block-image .aligncenter > figcaption,
  .wp-block-image.is-resized > figcaption {
    display: block;
    width: 100%;
  }

  .wp-block-image > figure {
    display: inline-block;
    width: auto;

    &.alignleft,
    &.alignright {
      // Hack for keeping figcaption from flowing over floated image, this variable is set inline to the corresponding figure with gutenberg-helpers.js
      max-width: var(--child-img-width);
    }

    &.alignleft,
    &.alignright,
    &.aligncenter {
      figcaption {
        margin-bottom: 2rem;
      }

      @media (max-width: $container-mobile) {
        float: none;
        margin: 0;

        // Has to be important because we want to override inline width
        width: 100% !important;
      }

      @media (max-width: $container-mobile) {
        &.alignleft img,
        &.alignright img,
        &.aligncenter img {
          float: none;
          height: auto;
          width: 100%;
        }
      }
    }
  }

  a:hover,
  &:focus {
    text-decoration: none;
  }

  iframe,
  .fb-post,
  small {
    display: block;
  }

  cite {
    margin-bottom: 0;
  }

  blockquote + cite,
  blockquote + p > cite {
    margin-bottom: 4rem;
  }

  > blockquote,
  > blockquote.wp-block-quote {
    border-left: 2px solid var(--color-links);
    line-height: $line-height-blog;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    padding: 3.5rem 6rem;
    width: calc(100% - 12rem);

    @media (max-width: $width-max-article + 40px) {
      padding: 3.5rem 2rem;
      width: calc(100% - 4rem);
    }

    @media (max-width: $container-mobile) {
      padding: 4rem 4rem 4rem 2rem;
    }

    > p {
      color: var(--color-links);
      line-height: $line-height-blog;
    }
  }

  div[style="width: 640px;"],
  .wp-video {
    // Forced to use important here, because embeds inline stuff
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: $width-max-article !important;
    width: 100% !important;
  }

  > figure.wp-caption {
    // Forced to use important here, because embeds inline stuff
    max-width: $width-max-article !important;
    width: 100% !important;
  }

  > * {
    line-height: $line-height-blog;
    margin-left: auto;
    margin-right: auto;
    max-width: $width-max-article;
    width: 100%;

    .twitter-tweet,
    .instagram-media,
    .wp-video,
    .is-provider-instagram,
    .is-provider-twitter,
    .is-provider-facebook {
      // Forced to use important here, because embeds inline stuff
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: $width-max-article !important;
      width: 100% !important;

      @media (max-width: $width-max-article + 40px) {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
      }

      @media (max-width: 480px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
      }
    }

    &.wp-block-image {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }

    &.twitter-tweet,
    &.instagram-media,
    &.wp-video {
      // Forced to use important here, because embeds inline stuff
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: $width-max-article !important;
      width: 100% !important;

      @media (max-width: $width-max-article + 40px) {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
      }

      @media (max-width: 480px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
      }
    }

    &.alignwide {
      margin-bottom: 4rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;

      @media (min-width: 870px) {
        max-width: $width-grid-base;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.alignfull {
      margin-bottom: 8rem;
      margin-top: 8rem;
      max-width: 100%;
      width: 100%;

      img {
        border-radius: 0;
      }
    }
  }

  @media (min-width: 1170px) {
    small[style="text-align: center;"] {
      display: block;
      margin-bottom: 8rem;
      margin-top: -4rem;
      max-width: 100%;
      width: 100%;
    }
  }
}

// WordPress captions
.wp-caption {
  max-width: 100%;

  @media (max-width: $width-max-article + 40px) {
    // Forced to use important here, because embeds inline stuff
    width: 100% !important;
    /* stylelint-enable */
  }

  img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
  }

  .wp-caption-text {
    font-style: italic;
    margin-bottom: 20px;
    padding: 1rem 0;
    text-align: left;
  }
}

// Tables, codes and pres
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  font-family: $font-paragraphs;
  height: 3rem;
  padding: 1rem;

  @media (max-width: 600px) {
    display: inline-block;
    height: auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
}

// Table heading cells
th {
  font-weight: 700;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

kbd {
  border: 1px solid var(--color-light-grey-alt);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(#000, .2), 0 0 0 2px var(--color-white) inset;
  color: var(--color-paragraphs);
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding: 0 .5rem;
  text-shadow: 0 1px 0 var(--color-white);
  white-space: nowrap;
}

// Preformatted text.
// CSS Simple Pre Code
pre {
  background-color: var(--color-code-background);
  border: 1px solid var(--color-code-background);
  border-radius: 4px;
  color: var(--color-lightgrey);
  display: block;
  font-family: $font-monospace;
  font-size: var(--font-size-small);
  line-height: $line-height-blog;
  margin: 3rem 0;
  overflow: auto;
  padding: 15px 16px 14px;
  position: relative;
  white-space: pre;
  word-wrap: break-word;

  code {
    border-radius: 4px;
  }
}
