// Accessibility
//
// A hidden screen reader for readers, focus elements for
// vision impaired and other useful a11y CSS hacks.

// Text meant only for screen readers.
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  /* stylelint-disable declaration-no-important */
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
  /* stylelint-enable declaration-no-important */

  &.skip-link {
    margin: 5px;

    &:focus {
      background-color: var(--color-main);
      color: var(--color-white);
    }
  }

  &:focus {
    background-color: var(--color-lightgrey);
    border-radius: 0;
    box-shadow: 0 0 2px 2px rgba(var(--color-black-rgb), .6);
    clip: auto;
    clip-path: none;
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; // Above WP toolbar.
  }
}

// Suppress focus ring on for mouse and touch users for visual reasons
/* stylelint-disable a11y/no-outline-none */
[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}
/* stylelint-enable a11y/no-outline-none */

// Visually distinct focus color on keyboard
[data-whatinput="keyboard"] {
  a:focus,
  input:focus,
  button:focus,
  select:focus,
  textarea:focus,
  div[tabindex]:focus {
    opacity: 1;
  }

  .global-link {
    transition: none;
  }

  // A bit better focus for large elements
  a.global-link:focus {
    outline-color: var(--color-outline-overlay-items);
    outline-offset: -1px;
    outline-style: solid;
    outline-width: 4px;
  }
}

// External link icon
.external-link-icon {
  margin-left: .7rem;
  margin-right: .2rem;

  @media (max-width: $container-mobile) {
    height: 12px;
    margin-left: .4rem;
    transform: translateY(1px);
    width: 12px;
  }
}
