/* stylelint-disable declaration-no-important */
/* stylelint-disable declaration-property-unit-allowed-list */
/* stylelint-enable declaration-property-unit-allowed-list */
:root {
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-black: #222;
  --color-black-rgb: 22, 22, 22;
  --color-shadows: #b8bbb3;
  --color-darkgrey: #545773;
  --color-lightgrey: #f5f5f5;
  --color-body: #20202f;
  --color-headings: #20202f;
  --color-headings-rgb: 32, 32, 47;
  --color-paragraphs: darken(#545773, 18%);
  --color-main: #2a2d3e;
  --color-dark: #2a2d3e;
  --color-shade: #03061b;
  --color-faded: #757684;
  --color-alt-grey: #333;
  --color-toggled: #fff;
  --color-fuchsia: #e2127a;
  --color-synthwavesunsetpink: #eb21f8;
  --color-synthwavesunsetred: #f82872;
  --color-synthwavesunsetorange: #f88d1e;
  --color-synthwavesunsetyellow: #f8ce18;
  --color-synthwavedarkblue: #045ee2;
  --color-synthwaveblue: #4285f4;
  --color-synthwavered: #f80296;
  --color-synthwavepurple: #9603e2;
  --color-synthwaveteal: #02ebf8;
  --color-wordpress: #0073aa;
  --color-instagram: #405de6;
  --color-instagram-hover: lighten(--color-instagram, 15%);
  --color-bright: #737fbf;
  --color-blue-faded: #4078c0;
  --color-blue-alt: #0173aa;
  --color-blue-alt-midnight: #21252b;
  --color-github-link: #0366d6;
  --color-github-text: #586069;
  --color-twitter: #1da1f2;
  --color-links: var(--color-main);
  --color-hover: var(--color-dark);
  --color-blockquotes: #666;
  --color-code-blocks: #c7254e;
  --color-code-blocks-background: #f9f2f4;
  --color-border-forms: #d9d9d9;
  --color-code-background: #2b303c;
  --color-comments-link: #555;
  --color-edit-link: #999;
  --color-background-edit-link: #fafafa;
  --color-background-hover-edit-link: #efefef;
  --color-background-default: #f0f0f0;
  --color-success: lighten(#2d6426, 40%);
  --color-warning: lighten(#8e440b, 40%);
  --color-error: lighten(#903a37, 40%);
  --color-disabled: #bbb;
  --color-captions: rgba(75, 75, 90, .8);
  --color-buttons: var(--color-darkgrey);
  --color-buttons-hover: var(--color-main);
  --color-background-toggle-slider: #ccc;
  --color-light-grey-alt: #ccc;
  --color-grey-mid: #444;
  --color-almostwhite: #f7f7f7;
  --color-repo-border: #d1d5da;
  --color-arrow: #231f20;
  --color-outline-overlay-items: #ff848a;
}

:root {
  --padding-container-horizontal: 2rem;
  --padding-container-vertical: 6.4rem;
  --padding-site-header-vertical: 2rem;
  --padding-block: 8rem;
  --margin-between-text-elements: 4rem;
}

@media (max-width: 1110px) {
  :root {
    --padding-container-horizontal: 2rem;
  }
}

@media (max-width: 1090px) {
  :root {
    --padding-site-header-vertical: 2rem;
  }
}

@media (max-width: 770px) {
  :root {
    --padding-container-vertical: 5rem;
  }
}

@media (max-width: 600px) {
  :root {
    --padding-block: 6rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-container-vertical: 4rem;
  }
}

:root {
  --font-size-default: 20px;
  --font-size-tiny: 14px;
  --font-size-small: 16px;
  --font-size-medium: 17px;
  --font-size-large: 18px;
  --font-size-extra-large: 20px;
  --font-size-huge: 22px;
  --body-line-height: 1.7;
  --heading-line-height: 1.5;
  --font-size-nav-toggle-label: 15px;
  --font-size-blog-main-heading: 46px;
  --font-size-blog-supplementary-heading: 30px;
  --font-size-captions: 15px;
}

@media (max-width: 760px) {
  :root {
    --font-size-blog-main-heading: 40px;
    --font-size-blog-supplementary-heading: 28px;
  }
}

@media (max-width: 770px) {
  :root {
    --font-size-extra-large: 17px;
    --font-size-small: 17px;
    --font-size-blog-main-heading: 38px;
    --font-size-blog-supplementary-heading: 26px;
  }
}

@media (max-width: 550px) {
  :root {
    --font-size-blog-main-heading: 32px;
    --font-size-blog-supplementary-heading: 22px;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-tiny: 16px;
    --font-size-small: 16px;
    --font-size-default: 16px;
    --font-size-extra-large: 18px;
  }
}

@media (max-width: 420px) {
  :root {
    --font-size-tiny: 14px;
    --font-size-small: 14px;
  }
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Regular.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Regular.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Italic.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Italic.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Italic.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Medium.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Medium.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../../content/themes/rolledesign/fonts/Inter-SemiBold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-SemiBold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Bold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Bold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  src: url("../../../content/themes/rolledesign/fonts/futurapt-demi.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/futurapt-demi.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/futurapt-demi.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/sofiaproregular.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sofiaproregular.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sofiaproregular.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/rolledesign/fonts/sofiaprobold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sofiaprobold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sofiaprobold.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/sfmono-regular.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sfmono-regular.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sfmono-regular.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "SF Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/sfmono-regularitalic.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sfmono-regularitalic.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sfmono-regularitalic.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/rolledesign/fonts/sfmono-bold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sfmono-bold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sfmono-bold.ttf") format("truetype");
}

/* stylelint-disable declaration-property-unit-allowed-list */
:root {
  font-size: 62.5%;
}

/* stylelint-enable declaration-property-unit-allowed-list */
body {
  color: var(--color-paragraphs);
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-medium);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

/* stylelint-disable sh-waqar/declaration-use-variable, a11y/no-display-none, selector-max-compound-selectors, declaration-no-important, csstools/value-no-unknown-custom-properties */
/* stylelint-disable no-descending-specificity */
.block-blog-post-list .listing {
  margin-bottom: 6rem;
}

.block-blog-post-list .listing:last-child {
  margin-bottom: 0;
}

.block-blog-post-list h2 {
  font-size: 42px;
  font-family: "Sofia Pro", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-weight: 700;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .block-blog-post-list h2 {
    font-size: calc(42px + strip-unit(20px) * ((100vw - 320px) / strip-unit(1600px)));
  }
}

@media screen and (min-width: 1920px) {
  .block-blog-post-list h2 {
    font-size: 62px;
  }
}

.block-blog-post-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-blog-post-list li {
  margin: 0 0 1rem;
  padding: 0;
}

.block-blog-post-list li:last-child {
  margin-bottom: 0;
}

.block-blog-post-list li a {
  border-bottom: 2px solid rgba(var(--color-headings-rgb), 0.1);
  font-weight: 500;
  padding-bottom: .2rem;
  padding-top: .2rem;
  transition: border-color 0.55s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.block-blog-post-list li a:hover,
.block-blog-post-list li a:focus {
  border-color: var(--color-synthwavesunsetred);
}

.block-blog-post-list .date {
  font-size: var(--font-size-tiny);
  margin-left: .5rem;
}

.auth {
  margin: 0;
  order: 1;
}

.auth a {
  display: inline-flex;
  font-size: var(--font-size-tiny);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.55s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.auth a:hover, .auth a:focus {
  color: var(--color-synthwavesunsetred);
}

.auth a:hover img,
.auth a:focus img {
  border-color: var(--color-synthwavesunsetred);
}

.auth a::after {
  display: none;
}

.auth .gravatar-small {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  height: 22px;
  margin-right: 1rem;
  overflow: hidden;
  transition: border-color 0.55s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  width: 22px;
}

.date-single {
  font-size: var(--font-size-small);
  opacity: .7;
  order: 2;
}

.comment-on-twitter {
  line-height: 1;
}

.comment-on-twitter a {
  align-items: baseline;
  color: #1da1f2;
  display: inline-flex;
  font-family: "Sofia Pro", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8rem;
  margin-top: 8rem;
  text-decoration: none;
}

.comment-on-twitter a::after {
  display: none;
}

@media (max-width: 770px) {
  .comment-on-twitter a {
    font-size: 2.4rem;
  }
}

.comment-on-twitter a:hover, .comment-on-twitter a:focus {
  color: #65bff6;
}

.comment-on-twitter a:hover svg, .comment-on-twitter a:focus svg {
  stroke: #65bff6;
}

.comment-on-twitter a svg {
  height: 5rem;
  margin-left: 2rem;
  position: relative;
  stroke: #1da1f2;
  stroke-width: 2px;
  top: 1rem;
  width: 5rem;
}

@media (max-width: 770px) {
  .comment-on-twitter a svg {
    height: 3rem;
    width: 3rem;
  }
}

.block-blog article > h2:first-child::before,
.gutenberg-content h1::before {
  background-color: #767676;
  content: '\020';
  display: block;
  height: 2px;
  margin: 1rem 0;
  width: 1em;
}

.block-single > .gutenberg-content > h1 {
  font-size: var(--font-size-blog-main-heading);
  line-height: 1.2;
}

.block-blog article > h2 {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-blog-main-heading);
  letter-spacing: -.02em;
  line-height: 1.2;
  opacity: .8;
}

.block-blog article > h2 a {
  color: var(--color-headings);
}

.block-blog .container {
  max-width: 720px;
  padding-bottom: var(--padding-block);
  padding-top: var(--padding-block);
}

.editor-styles-wrapper,
.gutenberg-content {
  max-width: 100%;
  padding-bottom: var(--padding-block);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--padding-block);
}

.editor-styles-wrapper li > a,
.editor-styles-wrapper .is-style-ingress a,
.editor-styles-wrapper p > strong > a,
.editor-styles-wrapper p > em > a,
.editor-styles-wrapper p:not([class]) > a,
.gutenberg-content li > a,
.gutenberg-content .is-style-ingress a,
.gutenberg-content p > strong > a,
.gutenberg-content p > em > a,
.gutenberg-content p:not([class]) > a {
  border-bottom: 1px solid var(--color-fuchsia);
  color: var(--color-fuchsia);
  line-height: 1.5;
  text-decoration: none;
  transition: border-color 0.33s cubic-bezier(0.19, 1, 0.22, 1), color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.editor-styles-wrapper li > a::after,
.editor-styles-wrapper .is-style-ingress a::after,
.editor-styles-wrapper p > strong > a::after,
.editor-styles-wrapper p > em > a::after,
.editor-styles-wrapper p:not([class]) > a::after,
.gutenberg-content li > a::after,
.gutenberg-content .is-style-ingress a::after,
.gutenberg-content p > strong > a::after,
.gutenberg-content p > em > a::after,
.gutenberg-content p:not([class]) > a::after {
  background-image: url("../../svg/external-link-fuchsia.svg");
}

.editor-styles-wrapper li > a:focus,
.editor-styles-wrapper .is-style-ingress a:focus,
.editor-styles-wrapper p > strong > a:focus,
.editor-styles-wrapper p > em > a:focus,
.editor-styles-wrapper p:not([class]) > a:focus,
.gutenberg-content li > a:focus,
.gutenberg-content .is-style-ingress a:focus,
.gutenberg-content p > strong > a:focus,
.gutenberg-content p > em > a:focus,
.gutenberg-content p:not([class]) > a:focus {
  border-color: var(--color-black);
  color: var(--color-black);
  text-decoration: none;
}

.editor-styles-wrapper li > a:focus::after,
.editor-styles-wrapper .is-style-ingress a:focus::after,
.editor-styles-wrapper p > strong > a:focus::after,
.editor-styles-wrapper p > em > a:focus::after,
.editor-styles-wrapper p:not([class]) > a:focus::after,
.gutenberg-content li > a:focus::after,
.gutenberg-content .is-style-ingress a:focus::after,
.gutenberg-content p > strong > a:focus::after,
.gutenberg-content p > em > a:focus::after,
.gutenberg-content p:not([class]) > a:focus::after {
  background-image: url("../../svg/external-link-black.svg");
}

.editor-styles-wrapper li > a::after,
.gutenberg-content li > a::after {
  display: none;
}

.editor-styles-wrapper .comments-link a,
.editor-styles-wrapper .tags a,
.editor-styles-wrapper .cat a,
.gutenberg-content .comments-link a,
.gutenberg-content .tags a,
.gutenberg-content .cat a {
  text-decoration: none;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.gutenberg-content h1,
.gutenberg-content h2,
.gutenberg-content h3,
.gutenberg-content h4,
.gutenberg-content h5,
.gutenberg-content h6 {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.5;
}

.editor-styles-wrapper h1:first-child,
.editor-styles-wrapper h2:first-child,
.editor-styles-wrapper h3:first-child,
.editor-styles-wrapper h4:first-child,
.editor-styles-wrapper h5:first-child,
.editor-styles-wrapper h6:first-child,
.gutenberg-content h1:first-child,
.gutenberg-content h2:first-child,
.gutenberg-content h3:first-child,
.gutenberg-content h4:first-child,
.gutenberg-content h5:first-child,
.gutenberg-content h6:first-child {
  margin-top: 0;
}

.editor-styles-wrapper .blocks-gallery-grid,
.gutenberg-content .blocks-gallery-grid {
  display: grid;
}

.editor-styles-wrapper .blocks-gallery-grid .blocks-gallery-item,
.gutenberg-content .blocks-gallery-grid .blocks-gallery-item {
  width: 100%;
}

.editor-styles-wrapper .columns-2 .blocks-gallery-grid,
.gutenberg-content .columns-2 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

.editor-styles-wrapper .columns-3 .blocks-gallery-grid,
.gutenberg-content .columns-3 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.editor-styles-wrapper .columns-4 .blocks-gallery-grid,
.gutenberg-content .columns-4 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}

.editor-styles-wrapper .columns-5 .blocks-gallery-grid,
.gutenberg-content .columns-5 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(5, 1fr);
}

.editor-styles-wrapper .columns-6 .blocks-gallery-grid,
.gutenberg-content .columns-6 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
}

.editor-styles-wrapper .columns-7 .blocks-gallery-grid,
.gutenberg-content .columns-7 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(7, 1fr);
}

.editor-styles-wrapper .columns-8 .blocks-gallery-grid,
.gutenberg-content .columns-8 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(8, 1fr);
}

.editor-styles-wrapper .columns-9 .blocks-gallery-grid,
.gutenberg-content .columns-9 .blocks-gallery-grid {
  grid-column-gap: 3rem;
  grid-template-columns: repeat(9, 1fr);
}

.editor-styles-wrapper .cat-links,
.editor-styles-wrapper .tags-links,
.gutenberg-content .cat-links,
.gutenberg-content .tags-links {
  display: block;
}

.editor-styles-wrapper .alignleft,
.gutenberg-content .alignleft {
  float: left;
  margin-right: 3rem;
}

.editor-styles-wrapper .alignright,
.gutenberg-content .alignright {
  float: right;
  margin-left: 3rem;
}

.editor-styles-wrapper .aligncenter,
.gutenberg-content .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.editor-styles-wrapper del,
.gutenberg-content del {
  color: var(--color-blockquotes);
  text-decoration: line-through;
}

.editor-styles-wrapper p,
.gutenberg-content p {
  color: var(--color-paragraphs);
  font-weight: 400;
  line-height: 1.77;
}

.editor-styles-wrapper li,
.gutenberg-content li {
  font-size: 17px;
}

@media screen and (min-width: 320px) {
  .editor-styles-wrapper li,
  .gutenberg-content li {
    font-size: calc(17px + strip-unit(2px) * ((100vw - 320px) / strip-unit(1600px)));
  }
}

@media screen and (min-width: 1920px) {
  .editor-styles-wrapper li,
  .gutenberg-content li {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper li,
  .gutenberg-content li {
    font-size: 15px;
  }
}

.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object,
.editor-styles-wrapper video,
.gutenberg-content embed,
.gutenberg-content iframe,
.gutenberg-content object,
.gutenberg-content video {
  max-width: 100%;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper .is-style-ingress,
.gutenberg-content h1,
.gutenberg-content h2,
.gutenberg-content h3,
.gutenberg-content h4,
.gutenberg-content h5,
.gutenberg-content .is-style-ingress {
  line-height: 1.5;
}

.editor-styles-wrapper h2,
.gutenberg-content h2 {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-blog-supplementary-heading);
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.5;
  opacity: .8;
}

.editor-styles-wrapper img,
.gutenberg-content img {
  border-radius: 4px;
}

.editor-styles-wrapper ol,
.editor-styles-wrapper ul,
.gutenberg-content ol,
.gutenberg-content ul {
  padding-left: calc(2rem + 2.7rem);
}

@media (max-width: 760px) {
  .editor-styles-wrapper,
  .gutenberg-content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .editor-styles-wrapper pre,
  .gutenberg-content pre {
    margin-left: 2rem;
  }
  .editor-styles-wrapper ul.tags,
  .gutenberg-content ul.tags {
    padding-left: 0;
  }
}

.editor-styles-wrapper figcaption,
.editor-styles-wrapper cite,
.editor-styles-wrapper small,
.gutenberg-content figcaption,
.gutenberg-content cite,
.gutenberg-content small {
  border: 0;
  color: var(--color-captions);
  font-size: var(--font-size-captions);
  font-style: normal;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 720px;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
}

@media (max-width: 480px) {
  .editor-styles-wrapper figcaption,
  .editor-styles-wrapper cite,
  .editor-styles-wrapper small,
  .gutenberg-content figcaption,
  .gutenberg-content cite,
  .gutenberg-content small {
    margin-top: 2rem;
  }
}

.editor-styles-wrapper.wp-block-gallery,
.gutenberg-content.wp-block-gallery {
  color: var(--color-white);
  overflow: hidden;
}

.editor-styles-wrapper.wp-block-gallery figcaption,
.gutenberg-content.wp-block-gallery figcaption {
  color: var(--color-white);
  font-size: var(--font-size-small);
  line-height: 1.55;
  margin-bottom: var(--margin-between-text-elements);
  padding: 0 2rem;
  width: 100%;
}

@media (max-width: 600px) {
  .editor-styles-wrapper.wp-block-gallery figcaption,
  .gutenberg-content.wp-block-gallery figcaption {
    padding: 0;
  }
}

.editor-styles-wrapper.wp-block-gallery img,
.gutenberg-content.wp-block-gallery img {
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-image figcaption,
.editor-styles-wrapper .wp-block-image .alignright > figcaption,
.editor-styles-wrapper .wp-block-image .aligncenter > figcaption,
.editor-styles-wrapper .wp-block-image.is-resized > figcaption,
.gutenberg-content .wp-block-image figcaption,
.gutenberg-content .wp-block-image .alignright > figcaption,
.gutenberg-content .wp-block-image .aligncenter > figcaption,
.gutenberg-content .wp-block-image.is-resized > figcaption {
  display: block;
  width: 100%;
}

.editor-styles-wrapper .wp-block-image > figure,
.gutenberg-content .wp-block-image > figure {
  display: inline-block;
  width: auto;
}

.editor-styles-wrapper .wp-block-image > figure.alignleft, .editor-styles-wrapper .wp-block-image > figure.alignright,
.gutenberg-content .wp-block-image > figure.alignleft,
.gutenberg-content .wp-block-image > figure.alignright {
  max-width: var(--child-img-width);
}

.editor-styles-wrapper .wp-block-image > figure.alignleft figcaption, .editor-styles-wrapper .wp-block-image > figure.alignright figcaption, .editor-styles-wrapper .wp-block-image > figure.aligncenter figcaption,
.gutenberg-content .wp-block-image > figure.alignleft figcaption,
.gutenberg-content .wp-block-image > figure.alignright figcaption,
.gutenberg-content .wp-block-image > figure.aligncenter figcaption {
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-image > figure.alignleft, .editor-styles-wrapper .wp-block-image > figure.alignright, .editor-styles-wrapper .wp-block-image > figure.aligncenter,
  .gutenberg-content .wp-block-image > figure.alignleft,
  .gutenberg-content .wp-block-image > figure.alignright,
  .gutenberg-content .wp-block-image > figure.aligncenter {
    float: none;
    margin: 0;
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper .wp-block-image > figure.alignleft.alignleft img,
  .editor-styles-wrapper .wp-block-image > figure.alignleft.alignright img,
  .editor-styles-wrapper .wp-block-image > figure.alignleft.aligncenter img, .editor-styles-wrapper .wp-block-image > figure.alignright.alignleft img,
  .editor-styles-wrapper .wp-block-image > figure.alignright.alignright img,
  .editor-styles-wrapper .wp-block-image > figure.alignright.aligncenter img, .editor-styles-wrapper .wp-block-image > figure.aligncenter.alignleft img,
  .editor-styles-wrapper .wp-block-image > figure.aligncenter.alignright img,
  .editor-styles-wrapper .wp-block-image > figure.aligncenter.aligncenter img,
  .gutenberg-content .wp-block-image > figure.alignleft.alignleft img,
  .gutenberg-content .wp-block-image > figure.alignleft.alignright img,
  .gutenberg-content .wp-block-image > figure.alignleft.aligncenter img,
  .gutenberg-content .wp-block-image > figure.alignright.alignleft img,
  .gutenberg-content .wp-block-image > figure.alignright.alignright img,
  .gutenberg-content .wp-block-image > figure.alignright.aligncenter img,
  .gutenberg-content .wp-block-image > figure.aligncenter.alignleft img,
  .gutenberg-content .wp-block-image > figure.aligncenter.alignright img,
  .gutenberg-content .wp-block-image > figure.aligncenter.aligncenter img {
    float: none;
    height: auto;
    width: 100%;
  }
}

.editor-styles-wrapper a:hover, .editor-styles-wrapper:focus,
.gutenberg-content a:hover,
.gutenberg-content:focus {
  text-decoration: none;
}

.editor-styles-wrapper iframe,
.editor-styles-wrapper .fb-post,
.editor-styles-wrapper small,
.gutenberg-content iframe,
.gutenberg-content .fb-post,
.gutenberg-content small {
  display: block;
}

.editor-styles-wrapper cite,
.gutenberg-content cite {
  margin-bottom: 0;
}

.editor-styles-wrapper blockquote + cite,
.editor-styles-wrapper blockquote + p > cite,
.gutenberg-content blockquote + cite,
.gutenberg-content blockquote + p > cite {
  margin-bottom: 4rem;
}

.editor-styles-wrapper > blockquote,
.editor-styles-wrapper > blockquote.wp-block-quote,
.gutenberg-content > blockquote,
.gutenberg-content > blockquote.wp-block-quote {
  border-left: 3px solid var(--color-links);
  line-height: 1.77;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 3.5rem 6rem;
  width: calc(100% - 12rem);
}

@media (max-width: 760px) {
  .editor-styles-wrapper > blockquote,
  .editor-styles-wrapper > blockquote.wp-block-quote,
  .gutenberg-content > blockquote,
  .gutenberg-content > blockquote.wp-block-quote {
    padding: 3.5rem 2rem;
    width: calc(100% - 4rem);
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper > blockquote,
  .editor-styles-wrapper > blockquote.wp-block-quote,
  .gutenberg-content > blockquote,
  .gutenberg-content > blockquote.wp-block-quote {
    padding: 4rem 4rem 4rem 2rem;
  }
}

.editor-styles-wrapper > blockquote > p,
.editor-styles-wrapper > blockquote.wp-block-quote > p,
.gutenberg-content > blockquote > p,
.gutenberg-content > blockquote.wp-block-quote > p {
  color: var(--color-links);
  line-height: 1.77;
}

.editor-styles-wrapper div[style="width: 640px;"],
.editor-styles-wrapper .wp-video,
.gutenberg-content div[style="width: 640px;"],
.gutenberg-content .wp-video {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 720px !important;
  width: 100% !important;
}

.editor-styles-wrapper > figure.wp-caption,
.gutenberg-content > figure.wp-caption {
  max-width: 720px !important;
  width: 100% !important;
}

.editor-styles-wrapper > *,
.gutenberg-content > * {
  line-height: 1.77;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  width: 100%;
}

@media (max-width: 760px) {
  .editor-styles-wrapper > *,
  .gutenberg-content > * {
    max-width: calc(100% - 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.editor-styles-wrapper > * .twitter-tweet,
.editor-styles-wrapper > * .instagram-media,
.editor-styles-wrapper > * .wp-video,
.editor-styles-wrapper > * .is-provider-instagram,
.editor-styles-wrapper > * .is-provider-twitter,
.editor-styles-wrapper > * .is-provider-facebook,
.gutenberg-content > * .twitter-tweet,
.gutenberg-content > * .instagram-media,
.gutenberg-content > * .wp-video,
.gutenberg-content > * .is-provider-instagram,
.gutenberg-content > * .is-provider-twitter,
.gutenberg-content > * .is-provider-facebook {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 720px !important;
  width: 100% !important;
}

@media (max-width: 760px) {
  .editor-styles-wrapper > * .twitter-tweet,
  .editor-styles-wrapper > * .instagram-media,
  .editor-styles-wrapper > * .wp-video,
  .editor-styles-wrapper > * .is-provider-instagram,
  .editor-styles-wrapper > * .is-provider-twitter,
  .editor-styles-wrapper > * .is-provider-facebook,
  .gutenberg-content > * .twitter-tweet,
  .gutenberg-content > * .instagram-media,
  .gutenberg-content > * .wp-video,
  .gutenberg-content > * .is-provider-instagram,
  .gutenberg-content > * .is-provider-twitter,
  .gutenberg-content > * .is-provider-facebook {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper > * .twitter-tweet,
  .editor-styles-wrapper > * .instagram-media,
  .editor-styles-wrapper > * .wp-video,
  .editor-styles-wrapper > * .is-provider-instagram,
  .editor-styles-wrapper > * .is-provider-twitter,
  .editor-styles-wrapper > * .is-provider-facebook,
  .gutenberg-content > * .twitter-tweet,
  .gutenberg-content > * .instagram-media,
  .gutenberg-content > * .wp-video,
  .gutenberg-content > * .is-provider-instagram,
  .gutenberg-content > * .is-provider-twitter,
  .gutenberg-content > * .is-provider-facebook {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.editor-styles-wrapper > *.wp-block-image,
.gutenberg-content > *.wp-block-image {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.editor-styles-wrapper > *.twitter-tweet, .editor-styles-wrapper > *.instagram-media, .editor-styles-wrapper > *.wp-video,
.gutenberg-content > *.twitter-tweet,
.gutenberg-content > *.instagram-media,
.gutenberg-content > *.wp-video {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 720px !important;
  width: 100% !important;
}

@media (max-width: 760px) {
  .editor-styles-wrapper > *.twitter-tweet, .editor-styles-wrapper > *.instagram-media, .editor-styles-wrapper > *.wp-video,
  .gutenberg-content > *.twitter-tweet,
  .gutenberg-content > *.instagram-media,
  .gutenberg-content > *.wp-video {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

@media (max-width: 480px) {
  .editor-styles-wrapper > *.twitter-tweet, .editor-styles-wrapper > *.instagram-media, .editor-styles-wrapper > *.wp-video,
  .gutenberg-content > *.twitter-tweet,
  .gutenberg-content > *.instagram-media,
  .gutenberg-content > *.wp-video {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.editor-styles-wrapper > *.alignwide img,
.editor-styles-wrapper > *.alignfull img,
.gutenberg-content > *.alignwide img,
.gutenberg-content > *.alignfull img {
  width: 100%;
}

.editor-styles-wrapper > *.alignwide,
.gutenberg-content > *.alignwide {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media (min-width: 870px) {
  .editor-styles-wrapper > *.alignwide,
  .gutenberg-content > *.alignwide {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
}

.editor-styles-wrapper > *.alignfull,
.gutenberg-content > *.alignfull {
  margin-bottom: 8rem;
  margin-top: 8rem;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.editor-styles-wrapper > *.alignfull img,
.gutenberg-content > *.alignfull img {
  border-radius: 0;
}

@media (min-width: 1170px) {
  .editor-styles-wrapper small[style="text-align: center;"],
  .gutenberg-content small[style="text-align: center;"] {
    display: block;
    margin-bottom: 8rem;
    margin-top: -4rem;
    max-width: 100%;
    width: 100%;
  }
}

.wp-caption {
  max-width: 100%;
}

@media (max-width: 760px) {
  .wp-caption {
    width: 100% !important;
    /* stylelint-enable */
  }
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption .wp-caption-text {
  font-style: italic;
  margin-bottom: 20px;
  padding: 1rem 0;
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  height: 3rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  td,
  th {
    display: inline-block;
    height: auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
}

th {
  font-weight: 700;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

kbd {
  border: 1px solid var(--color-light-grey-alt);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px var(--color-white) inset;
  color: var(--color-paragraphs);
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding: 0 .5rem;
  text-shadow: 0 1px 0 var(--color-white);
  white-space: nowrap;
}

pre {
  background-color: var(--color-code-background);
  border: 1px solid var(--color-code-background);
  border-radius: 4px;
  color: var(--color-lightgrey);
  display: block;
  font-family: "SF Mono", "Inconsolata", "Menlo", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: var(--font-size-small);
  line-height: 1.77;
  margin: 3rem 0;
  overflow: auto;
  padding: 15px 16px 14px;
  position: relative;
  white-space: pre;
  word-wrap: break-word;
}

pre code {
  border-radius: 4px;
}

.gutenberg-content p.is-style-ingress,
.wp-block.is-style-ingress,
.is-style-ingress {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-blog-supplementary-heading);
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.5;
  opacity: .8;
}

.wp-block-file .wp-block-file__button {
  font-size: .8em;
  padding: .3em .8em;
}

[data-align="right"] figcaption,
[data-align="left"] figcaption {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  text-align: center;
}

.is-style-ingress a,
p[data-type="core/paragraph"] > a {
  border-bottom: 1px solid var(--color-fuchsia);
  color: var(--color-fuchsia);
  line-height: 1.5;
  text-decoration: none;
  transition: border-color 0.33s cubic-bezier(0.19, 1, 0.22, 1), color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.is-style-ingress a::after,
p[data-type="core/paragraph"] > a::after {
  background-image: url("../../svg/external-link-fuchsia.svg");
}

.is-style-ingress a:focus,
p[data-type="core/paragraph"] > a:focus {
  border-color: var(--color-black);
  color: var(--color-black);
  text-decoration: none;
}

.is-style-ingress a:focus::after,
p[data-type="core/paragraph"] > a:focus::after {
  background-image: url("../../svg/external-link-black.svg");
}

.editor-styles-wrapper h2,
.editor-styles-wrapper h2[data-type="core/heading"] {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-blog-supplementary-heading);
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.5;
  opacity: .8;
}

.wp-block.editor-post-title.editor-post-title__block {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  letter-spacing: -.02em;
  line-height: 1.2;
}

.wp-block {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !important;
  max-width: 720px !important;
}

.wp-block[data-align="full"] {
  max-width: 100% !important;
}

.wp-block[data-align="wide"] {
  max-width: 100% !important;
}

@media (min-width: 870px) {
  .wp-block[data-align="wide"] {
    max-width: 960px !important;
    padding-left: 0;
    padding-right: 0;
  }
}

.wp-block h1,
.wp-block h2,
.wp-block h3,
.wp-block h4,
.wp-block h5,
.wp-block h6 {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.5;
}

body.wp-admin div.edit-post-text-editor,
body.wp-admin div.editor-post-title__block,
.wp-block.editor-post-title {
  max-width: 720px !important;
}
