/* stylelint-disable declaration-property-unit-allowed-list */
/* stylelint-enable declaration-property-unit-allowed-list */
:root {
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-black: #222;
  --color-black-rgb: 22, 22, 22;
  --color-shadows: #b8bbb3;
  --color-darkgrey: #545773;
  --color-lightgrey: #f5f5f5;
  --color-body: #20202f;
  --color-headings: #20202f;
  --color-headings-rgb: 32, 32, 47;
  --color-paragraphs: darken(#545773, 18%);
  --color-main: #2a2d3e;
  --color-dark: #2a2d3e;
  --color-shade: #03061b;
  --color-faded: #757684;
  --color-alt-grey: #333;
  --color-toggled: #fff;
  --color-fuchsia: #e2127a;
  --color-synthwavesunsetpink: #eb21f8;
  --color-synthwavesunsetred: #f82872;
  --color-synthwavesunsetorange: #f88d1e;
  --color-synthwavesunsetyellow: #f8ce18;
  --color-synthwavedarkblue: #045ee2;
  --color-synthwaveblue: #4285f4;
  --color-synthwavered: #f80296;
  --color-synthwavepurple: #9603e2;
  --color-synthwaveteal: #02ebf8;
  --color-wordpress: #0073aa;
  --color-instagram: #405de6;
  --color-instagram-hover: lighten(--color-instagram, 15%);
  --color-bright: #737fbf;
  --color-blue-faded: #4078c0;
  --color-blue-alt: #0173aa;
  --color-blue-alt-midnight: #21252b;
  --color-github-link: #0366d6;
  --color-github-text: #586069;
  --color-twitter: #1da1f2;
  --color-links: var(--color-main);
  --color-hover: var(--color-dark);
  --color-blockquotes: #666;
  --color-code-blocks: #c7254e;
  --color-code-blocks-background: #f9f2f4;
  --color-border-forms: #d9d9d9;
  --color-code-background: #2b303c;
  --color-comments-link: #555;
  --color-edit-link: #999;
  --color-background-edit-link: #fafafa;
  --color-background-hover-edit-link: #efefef;
  --color-background-default: #f0f0f0;
  --color-success: lighten(#2d6426, 40%);
  --color-warning: lighten(#8e440b, 40%);
  --color-error: lighten(#903a37, 40%);
  --color-disabled: #bbb;
  --color-captions: rgba(#4b4b5a, .9);
  --color-buttons: var(--color-darkgrey);
  --color-buttons-hover: var(--color-main);
  --color-background-toggle-slider: #ccc;
  --color-light-grey-alt: #ccc;
  --color-grey-mid: #444;
  --color-almostwhite: #f7f7f7;
  --color-repo-border: #d1d5da;
  --color-arrow: #231f20;
  --color-outline-overlay-items: #ff848a;
}

:root {
  --padding-container-horizontal: 2rem;
  --padding-container-vertical: 6.4rem;
  --padding-site-header-vertical: 2rem;
  --padding-block: 8rem;
  --margin-between-text-elements: 4rem;
}

@media (max-width: 1110px) {
  :root {
    --padding-container-horizontal: 2rem;
  }
}

@media (max-width: 1090px) {
  :root {
    --padding-site-header-vertical: 2rem;
  }
}

@media (max-width: 770px) {
  :root {
    --padding-container-vertical: 5rem;
  }
}

@media (max-width: 600px) {
  :root {
    --padding-block: 6rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-container-vertical: 4rem;
  }
}

:root {
  --font-size-default: 20px;
  --font-size-tiny: 14px;
  --font-size-small: 16px;
  --font-size-medium: 17px;
  --font-size-large: 18px;
  --font-size-extra-large: 20px;
  --font-size-huge: 22px;
  --body-line-height: 1.7;
  --heading-line-height: 1.5;
  --font-size-nav-toggle-label: 15px;
  --font-size-blog-main-heading: 46px;
  --font-size-blog-supplementary-heading: 30px;
}

@media (max-width: 760px) {
  :root {
    --font-size-blog-main-heading: 40px;
    --font-size-blog-supplementary-heading: 28px;
  }
}

@media (max-width: 770px) {
  :root {
    --font-size-extra-large: 17px;
    --font-size-small: 17px;
    --font-size-blog-main-heading: 38px;
    --font-size-blog-supplementary-heading: 26px;
  }
}

@media (max-width: 550px) {
  :root {
    --font-size-blog-main-heading: 32px;
    --font-size-blog-supplementary-heading: 22px;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-tiny: 16px;
    --font-size-small: 16px;
    --font-size-default: 16px;
    --font-size-extra-large: 18px;
  }
}

@media (max-width: 420px) {
  :root {
    --font-size-tiny: 14px;
    --font-size-small: 14px;
  }
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Regular.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Regular.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Italic.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Italic.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Italic.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Medium.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Medium.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../../content/themes/rolledesign/fonts/Inter-SemiBold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-SemiBold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/rolledesign/fonts/Inter-Bold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/Inter-Bold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  src: url("../../../content/themes/rolledesign/fonts/futurapt-demi.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/futurapt-demi.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/futurapt-demi.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/sofiaproregular.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sofiaproregular.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sofiaproregular.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/rolledesign/fonts/sofiaprobold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sofiaprobold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sofiaprobold.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/sfmono-regular.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sfmono-regular.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sfmono-regular.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "SF Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../../../content/themes/rolledesign/fonts/sfmono-regularitalic.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sfmono-regularitalic.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sfmono-regularitalic.ttf") format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../../../content/themes/rolledesign/fonts/sfmono-bold.woff") format("woff"), url("../../../content/themes/rolledesign/fonts/sfmono-bold.woff2") format("woff2"), url("../../../content/themes/rolledesign/fonts/sfmono-bold.ttf") format("truetype");
}

.gutenberg-content p.is-style-ingress,
.wp-block.is-style-ingress,
.is-style-ingress {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-blog-supplementary-heading);
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.5;
  opacity: .8;
}

.wp-block-file .wp-block-file__button {
  font-size: .8em;
  padding: .3em .8em;
}

[data-align="right"] figcaption,
[data-align="left"] figcaption {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  text-align: center;
}

.is-style-ingress a,
p[data-type="core/paragraph"] > a {
  border-bottom: 1px solid var(--color-fuchsia);
  color: var(--color-fuchsia);
  line-height: 1.5;
  text-decoration: none;
  transition: border-color 0.33s cubic-bezier(0.19, 1, 0.22, 1), color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.is-style-ingress a::after,
p[data-type="core/paragraph"] > a::after {
  background-image: url("../../svg/external-link-fuchsia.svg");
}

.is-style-ingress a:focus,
p[data-type="core/paragraph"] > a:focus {
  border-color: var(--color-black);
  color: var(--color-black);
  text-decoration: none;
}

.is-style-ingress a:focus::after,
p[data-type="core/paragraph"] > a:focus::after {
  background-image: url("../../svg/external-link-black.svg");
}

.editor-styles-wrapper h2,
.editor-styles-wrapper h2[data-type="core/heading"] {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-blog-supplementary-heading);
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.5;
  opacity: .8;
}

/* stylelint-disable declaration-no-important */
.wp-block {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !important;
  max-width: 720px !important;
}

.wp-block[data-align="full"] {
  max-width: 100% !important;
}

.wp-block[data-align="wide"] {
  max-width: 100% !important;
}

@media (min-width: 870px) {
  .wp-block[data-align="wide"] {
    max-width: 960px !important;
    padding-left: 0;
    padding-right: 0;
  }
}

.wp-block h1,
.wp-block h2,
.wp-block h3,
.wp-block h4,
.wp-block h5,
.wp-block h6 {
  font-family: -apple-system, "BlinkMacSystemFont", "Sofia Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.5;
}

body.wp-admin div.edit-post-text-editor,
body.wp-admin div.editor-post-title__block,
.wp-block.editor-post-title {
  max-width: 720px !important;
}
