// Links within content
/* stylelint-disable a11y/no-display-none, no-descending-specificity, selector-max-pseudo-class, stylelint-disable a11y/no-display-none */
.editor-styles-wrapper,
.gutenberg-content {
  li > a::after {
    display: none;
  }

  .fediverse-info a,
  .comments main a,
  [data-type="core/paragraph"] > a,
  li > a,
  p > strong > a,
  p > em > a,
  p:not([class]) > a:not([class]),
  p.has-text-align-left > a,
  p.has-text-align-center > a,
  p.has-text-align-right > a,
  p.has-small-font-size > a,
  figcaption > a,
  p:not([class]) > a.is-external-link {
    border-bottom: 1px solid var(--color-fuchsia);
    color: var(--color-fuchsia);
    line-height: 1.5;
    text-decoration: none;
    transition: border-color .33s cubic-bezier(.19, 1, .22, 1), color .2s cubic-bezier(.19, 1, .22, 1);

    &::after {
      background-image: url('../../svg/external-link-fuchsia.svg');
    }

    &:focus {
      border-color: var(--color-black);
      color: var(--color-black);
      text-decoration: none;

      &::after {
        background-image: url('../../svg/external-link-black.svg');
      }
    }
  }
}
