// Core/heading block
.editor-styles-wrapper,
.gutenberg-content {
  // Title line-heights
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-headings-blog;
    line-height: var(--line-height-core-heading);
  }

  // Don't add extra margin on top of first title
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6,
.editor-styles-wrapper .wp-block.editor-post-title.editor-post-title__block {
  font-family: $font-headings-blog;
}
