// List block
.editor-styles-wrapper,
.gutenberg-content {
  ul.wp-block-list,
  ol.wp-block-list,
  .wp-block-categories-list,
  ol:not([class]),
  ul:not([class]) {
    padding-left: 4.2rem;

    @media (min-width: 855px) {
      width: calc((100% - calc(var(--padding-container-horizontal) * 2)) - calc(2rem + var(--margin-between-paragraphs)));
    }
  }
}
