.block.block-hero.block-hero-contact {
  h1 {
    @include responsive-font(6vw, 75px, 140px);
    margin-bottom: 4rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  a:nth-child(1) {
    color: $color-synthwavesunsetred;

    &:hover {
      color: $color-synthwavesunsetpink;
    }
  }

  a:nth-child(2) {
    color: $color-synthwavesunsetorange;

    &:hover {
      color: $color-synthwavesunsetyellow;
    }
  }

  a:hover {
    color: #333;
  }

  ul {
    @include responsive-font(4vw, 22px, 25px);
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    margin-top: 8rem;
    text-align: left;
  }
}
