.block.block-hero.block-hero-projects {
  h1 svg {
    width: 8rem;
    height: 8rem;
    stroke: #333;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: #4078c0;
    text-decoration: none;
  }

  a:hover {
    color: #333;
  }
}
