.block.block-hero.block-hero-wordpress {
  h1 svg {
    width: 8rem;
    height: 8rem;
    fill: #0173aa;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: #0173aa;
    text-decoration: none;
  }

  a:hover {
    color: #21252b;
  }
}
