// SCSS colors
$color-twitter: #1da1f2;

:root {
  // Base colors
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-black: #222;
  --color-black-rgb: 22, 22, 22;
  --color-shadows: #b8bbb3;
  --color-darkgrey: #545773;
  --color-lightgrey: #f5f5f5;
  --color-white-smoke: var(--color-lightgrey);
  --color-body: #20202f;
  --color-headings: #20202f;
  --color-headings-rgb: 32, 32, 47;
  --color-paragraphs: darken(#545773, 18%);
  --color-main: #2a2d3e;
  --color-dark: #2a2d3e;
  --color-shade: #03061b;
  --color-faded: #757684;
  --color-alt-grey: #333;
  --color-toggled: #fff;
  --color-pattens-blue: #eaf1f8;

  // Required brand colors
  --color-fuchsia: #e2127a;
  --color-synthwavesunsetpink: #eb21f8;
  --color-synthwavesunsetred: #f82872;
  --color-synthwavesunsetorange: #f88d1e;
  --color-synthwavesunsetyellow: #f8ce18;
  --color-synthwavedarkblue: #045ee2;
  --color-synthwaveblue: #4285f4;
  --color-synthwavered: #f80296;
  --color-synthwavepurple: #9603e2;
  --color-synthwaveteal: #02ebf8;
  --color-wordpress: #0073aa;
  --color-instagram: #405de6;
  --color-instagram-hover: lighten(--color-instagram, 15%);
  --color-bright: #737fbf;
  --color-blue-faded: #4078c0;
  --color-blue-alt: #0173aa;
  --color-blue-alt-midnight: #21252b;
  --color-github-link: #0366d6;
  --color-github-text: #586069;
  --color-twitter: #{$color-twitter};

  // Element text and background colors
  --color-links: var(--color-main);
  --color-hover: var(--color-dark);
  --color-blockquotes: #666;
  --color-code-blocks: #c7254e;
  --color-code-blocks-background: #f9f2f4;
  --color-border-forms: #d9d9d9;
  --color-code-background: #2b303c;
  --color-comments-link: #555;
  --color-edit-link: #999;
  --color-background-edit-link: #fafafa;
  --color-background-hover-edit-link: #efefef;
  --color-background-default: #f0f0f0;
  --color-success: lighten(#2d6426, 40%);
  --color-warning: lighten(#8e440b, 40%);
  --color-error: lighten(#903a37, 40%);
  --color-disabled: #bbb;
  --color-captions: rgba(75, 75, 90, .8);
  --color-buttons: var(--color-darkgrey);
  --color-buttons-hover: var(--color-main);
  --color-background-toggle-slider: #ccc;
  --color-light-grey-alt: #ccc;
  --color-grey-mid: #444;
  --color-almostwhite: #f7f7f7;
  --color-repo-border: #d1d5da;
  --color-arrow: #231f20;

  // Accessibility
  --color-outline-overlay-items: #ff848a;
}
