.gutenberg-content > .comments,
.comments {
  padding-top: 4rem;
  margin-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  border-top: 1px solid rgba(117, 117, 117, .5);

  @media (max-width: 767px) {
    max-width: calc(100% - 4rem);
  }

  #mastodon-comments-list {
    order: 1;
    margin: 0;
    padding: 0;
  }

  #comments-wrapper {
    order: 2;
    display: grid;
    gap: 1.2rem;
  }

  .fediverse-info {
    border: 1px solid rgba(117, 117, 117, .5);
    border-radius: 10px;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 3.2rem;
    order: 3;

    h2 {
      font-size: 18px;
      margin: 0 0 2rem;
    }

    @media (max-width: 767px) {
      padding: 2rem;
    }
  }

  .fediverse-info .comment-description {
    font-size: 15px;
    margin: 0;
    opacity: .8;
  }

  .comment {
    column-gap: 2rem;
    row-gap: .5rem;
    display: grid;
    grid-template-areas:
        "avatar name"
        "avatar time"
        "avatar post"
        "...... interactions";
    grid-template-columns: min-content;
    justify-items: start;
    margin: 0 auto 0 -1em;
    padding: 1rem;
  }

  .avatar-link {
    grid-area: avatar;
    height: 4.8rem;
    position: relative;
    width: 4.8rem;
  }

  .author {
    font-size: 16px;
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-area: name;
    font-weight: 600;
    grid-template-columns: minmax(0, 1fr) min-content;

    .display {
      white-space: nowrap;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }
  }

  .instance {
    font-weight: 400;
    background-color: var(--color-dim);
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 13px;
  }

  footer {
    grid-area: interactions;
  }

  main {
    grid-area: post;

    p {
      font-size: 17px;

      margin-bottom: 1rem;
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  time {
    grid-area: time;
    opacity: .8;
    font-size: 14px;
  }

  .avatar {
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px var(--neutral);
    margin: 0;
    overflow: hidden;
  }
}
